﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="lab2.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
    <div>
    
    </div>
        <p>
            &nbsp;</p>
        <p>
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </p>
        <p>
            &nbsp;</p>
        <p>
            file1:</p>
        <p>
            <asp:FileUpload ID="FileUpload1" runat="server" OnLoad="FileUpload1_Load" OnPreRender="FileUpload1_PreRender" />
        </p>
        <p>
            file2:</p>
        <p>
            <asp:FileUpload ID="FileUpload2" runat="server" OnLoad="FileUpload1_Load" OnPreRender="FileUpload1_PreRender" />
        </p>
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Calculate" />
        </p>
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Download" />
    </form>
</body>
</html>
